body{
    display: block;
    text-align: center;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    font-family:Arial, Helvetica, sans-serif;
}
#logo{
    padding-top: 20px;
}
*{
    box-sizing: border-box;
}   
div{
    width: 340px;   
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
#authentification{
    background-color: #f6f8fa;
}
#createaccount{
    margin-top: 16px;
}
.btn{
    border-radius: 6px;
    background-color: #ce0033;
    border-color: #ce0033;
    text-transform: uppercase;
    color: white;
    padding:5px;
    box-shadow: none;
    cursor: pointer;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
}